<div class="d-flex justify-content-center">
<div class="card text-center mt-4 form-styling" style="width: 18rem;">
  <div class="card-body">
    <h1 class="header-preset">Register a new user</h1>
    <p class="card-text">Do you want to register as a student, or a company?</p>
    <div class="d-flex flex-column" id="buttons">
      <btn class="btn button-blue mb-2" id="userBtn">Register as student</btn>
      <btn class="btn button-orange mb-2" id="companyBtn">Register as company</btn>
      <a href="/auth/google" class="mb-2"><img src="/images/btn_google_signin_dark_normal_web.png"></a>
    </div>  
  </div>
</div>
</div>

<div class="m-5 d-flex justify-content-center" id="userForm" style="display: none;">
  <form  class="p-3 form-styling" action="/auth/registerUser" method="POST">
    <div class="mb-3">
      <label for="username" class="form-label"><strong>Username:</strong></label>
      <input type="text" class="form-control{{#if errorMessage.username}} is-invalid {{/if}}" id="username" name="username" value="{{userData.username}}">
      {{#if errorMessage.username}}
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          {{errorMessage.username.properties.message}}
        </div>
      {{/if}}
    </div>
    <div class="mb-3">
      <label for="email" class="form-label"><strong>Email address:</strong></label>
      <input type="email" class="form-control{{#if errorMessage.email}} is-invalid {{/if}}" id="email" name="email" value="{{userData.email}}">
      {{#if errorMessage.email}}
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          {{errorMessage.email}}
        </div>
      {{/if}}
    </div>
    <div class="mb-3">
      <label for="password" class="form-label"><strong>Password:</strong></label>
      <input type="password" class="form-control{{#if errorMessage.password}} is-invalid {{/if}}" id="password" name="password">
      {{#if errorMessage.password}}
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          {{errorMessage.password.properties.message}}
        </div>
      {{/if}}
    </div>
    <div class="text-center">
      <button type="submit" class="btn button-orange">Register now!</button>
    </div>
  </form>
</div>

<div class="m-5 d-flex justify-content-center" id="companyForm" style="display: none;">
  <form class="p-3 form-styling" action="/auth/registerUser" method="POST">
    <div class="mb-3">
      <label for="companyName" class="form-label"><strong>Company Name:</strong></label>
      <input type="text" class="form-control{{#if errorMessage.companyName}} is-invalid {{/if}}" id="companyName" name="companyName" value="{{userData.companyName}}" required>
      {{#if errorMessage.companyName}}
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          {{errorMessage.companyName.properties.message}}
        </div>
      {{/if}}
    </div>
    <div class="mb-3">
      <label for="email" class="form-label"><strong>Email address:</strong></label>
      <input type="email" class="form-control{{#if errorMessage.email}} is-invalid {{/if}}" id="email" name="email" value="{{userData.email}}">
      {{#if errorMessage.email}}
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          {{errorMessage.email}}
        </div>
      {{/if}}
    </div>
    <div class="mb-3">
      <label for="password" class="form-label"><strong>Password:</strong></label>
      <input type="password" class="form-control{{#if errorMessage.password}} is-invalid {{/if}}" id="password" name="password">
      {{#if errorMessage.password}}
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          {{errorMessage.password.properties.message}}
        </div>
      {{/if}}
    </div>
    <div class="text-center">
      <button type="submit" class="btn button-orange">Register now!</button>
    </div>
  </form>
</div>

<script src="/js/registerUser.js"></script>
  