<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card mt-5">
        <a href="/courseDetail/{{this.id}}" style="text-decoration: none; color:black">
            <img src="{{this.imageUrl}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <ul>
                    <li>{{this.subject}}</li>
                    <li>{{this.duration}}</li>
                    <li>{{this.difficulty}}</li>
                </ul>
                <a href="/companyDetail/{{this.companyId.id}}">{{this.companyId.companyName}}</a>
                <a href="/courseDetail/{{this.id}}">See more</a>
            </div>
      </a>
    </div>
  </div>
</div>