<h1 class="mt-4">Course Information:</h1>

<img src="{{imageUrl}}" style="width: 75vw;">
<h2 class="mt-2">{{title}}</h2>
<p>{{description}}</p>

<h4>Course details:</h4>
<ul>
    <li>{{subject}}</li>
    <li>{{duration}}</li>
    <li>{{difficulty}}</li>
    <li>{{address}}</li>
</ul>


{{#if isUserSubscribed}}
    <a href="/unsubscribe/{{id}}/{{currentUser.id}}"><button class="btn btn-danger">Unsubscribe!</button></a>
{{else}}
    <a href="/subscribe/{{id}}/{{currentUser.id}}"><button class="btn btn-primary">Join now!</button></a>
{{/if}}