<div class="d-flex flex-column flex-lg-row">
    <div class="mt-4 text-center d-flex flex-column align-items-center container">
        <h1 id="course-info-title" class="heading-font mb-4">Course Information:</h1>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-6">
                    <img src="{{imageUrl}}" style="width: 50vw;" class="img-fluid">
                </div>
            </div>
        </div>
        <h2 class="mt-2">{{title}}</h2>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-10">
                    <p>{{description}}</p>
                </div>
            </div>
        </div>

        {{#if currentUser}}
            {{#if isUserSubscribed}}
            <a href="/unsubscribe/{{id}}/{{currentUser.id}}"><button class="btn btn-danger mt-4 mb-4">Unsubscribe!</button></a>
        {{else}}
            {{#if currentUser.isCompany}}
                {{#if isCreator}}
                    <a href="/deletecourse/{{id}}"><button class="btn btn-danger mt-4">Delete your course</button></a>
                    <p class="mt-2"><em>Be careful! If a course is deleted, subscribers will lose access to it's contents!</em></p>
                {{/if}}
            {{else}}
                <a href="/subscribe/{{id}}/{{currentUser.id}}"><button id="join-course-detail" class="btn mt-4 mb-5 heading-font">Join now!</button></a>
            {{/if}}
        {{/if}}
        {{else}}
            {{#unless currentUser}}
                <p class="mt-4"><a href="/auth/loginuser"><button id="login-course" class="btn me-1 heading-font">Login</button></a> to be able to <b>subscribe</b> to this course</p>
            {{/unless}}
        {{/if}}

    </div>

    <div class="container mt-2 mb-4 center flex-column flex-lg-column">
        <div class="container">
            <h2 class="text-center mt-3 mb-2 heading-font">Check the current course location</h2>
            <div id="map" class="ms-lg-3 me-lg-3"></div>
        </div>

        <div class="card mb-2 form-styling mt-4 mt-lg-3 me-lg-0 mb-4 mb-lg-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><strong>Course details:</strong></h5>
                    <p><strong>Subject:</strong> {{subject}}</p>
                    <p><strong>Duration:</strong> {{duration}}</p>
                    <p><strong>Difficulty:</strong> {{difficulty}}</p>
                    <p><strong>Address:</strong> {{address}}</p>
            </div>
        </div>

        
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdz4KBK_MpfXitvUXs2zal6xVgiA1TRZs"></script>
<script src="/js/googleMaps.js"></script>
