<form class="mt-4" action="/editMyProfile" method="POST">
  {{#if currentUser.isCompany}}
      <div class="mb-3">
        <label for="companyName" class="form-label">Company Name:</label>
        <input type="text" class="form-control{{#if errors.companyName}} is-invalid {{/if}}" id="companyName" name="companyName" placeholder="Modify your username" value="{{#if user.companyName}}{{user.companyName}}{{else}}{{currentUser.companyName}}{{/if}}">
        {{#if errors.companyName}}
          <div id="validationServerUsernameFeedback" class="invalid-feedback">
            {{errors.companyName.properties.message}}
          </div>
        {{/if}}
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address:</label>
        <input type="email" class="form-control{{#if errorMessage.email}} is-invalid {{/if}}" id="email" name="email" placeholder="Add your email" value="{{currentUser.email}}">
        {{#if errorMessage.email}}
          <div id="validationServerUsernameFeedback" class="invalid-feedback">
            {{errorMessage.email}}
          </div>
        {{/if}}
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Company description:</label>
        <textarea class="form-control{{#if errors.description}} is-invalid {{/if}}" id="description" name="description" placeholder="Add a brief description of your company" rows="6">{{#if user.description}}{{user.description}}{{else}}{{currentUser.description}}{{/if}}</textarea>
        {{#if errors.description}}
          <div id="validationServerUsernameFeedback" class="invalid-feedback">
            {{errors.description}}
          </div>
        {{/if}}
      </div>
    {{else}}
      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control{{#if errors.username}} is-invalid {{/if}}" id="username" name="username" placeholder="Modify your username" value="{{#if user.username}}{{user.username}}{{else}}{{currentUser.username}}{{/if}}">
        {{#if errors.username}}
          <div id="validationServerUsernameFeedback" class="invalid-feedback">
            {{errors.username.properties.message}}
          </div>
        {{/if}}
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address:</label>
        <input type="email" class="form-control{{#if errorMessage.email}} is-invalid {{/if}}" id="email" name="email" placeholder="Add your email" value="{{currentUser.email}}">
        {{#if errorMessage.email}}
          <div id="validationServerUsernameFeedback" class="invalid-feedback">
            {{errorMessage.email}}
          </div>
        {{/if}}
      </div>
      <div class="mb-3">
        <label for="fullName" class="form-label">Full name:</label>
        <input type="text" class="form-control{{#if errors.fullName}} is-invalid {{/if}}" id="fullName" name="fullName" placeholder="Add your full name" value="{{#if user.fullName}}{{user.fullName}}{{else}}{{currentUser.fullName}}{{/if}}">
        {{#if errors.fullName}}
          <div id="validationServerUsernameFeedback" class="invalid-feedback">
            {{errors.fullName}}
          </div>
        {{/if}}
      </div>
  {{/if}}
  <button type="submit" class="btn btn-primary">Update!</button>
</form>
