{{#if currentUser}}
    <div class="d-flex flex-column align-items-center mb-3">
        <img class="w-75 p-3 rounded-circle" src="{{currentUser.imageUrl}}">
         <button id="changeProfilePicture">Change profile picture</button>
    </div>

    <div class="hidden mb-4" id="pictureForm">
        <form class="mt-4" action="/updateProfilePic" method="POST" enctype="multipart/form-data">
        <input type="file" id="profilePicture" name="profilePicture">
        <button Type="submit">Change picture!</button>
        </form>
    </div>

    {{#if currentUser.isCompany}}
        {{#if currentUser.companyName}}
            <h3 class="mt-3">Company name:</h3>
            <p>{{currentUser.companyName}}</p>
        {{/if}} 
        {{#if currentUser.email}}
            <h3 class="mt-3">Email:</h3>
            <p>{{currentUser.email}}</p>
        {{/if}}
        {{#if currentUser.description}}
            <h3 class="mt-3">Company description:</h3>
            <p>{{currentUser.description}}</p>
        {{/if}} 
    {{else}}
        {{#if currentUser.username}}
            <h3>Username:</h3>
            <p>{{currentUser.username}}</p>
        {{/if}}
        {{#if currentUser.email}}
            <h3 class="mt-3">Email:</h3>
            <p>{{currentUser.email}}</p>
        {{/if}}
        {{#if currentUser.fullName}}
            <h3 class="mt-3">Full name:</h3>
            <p>{{currentUser.fullName}}</p>
        {{/if}}
    {{/if}}

    <a href="/editMyProfile"><button class="btn btn-secondary mt-4">Edit Profile</button></a>
        <p class="mt-1"><em>Use this button to edit your profile data and complete your info: e.g. Full name. </em></p>
    
    {{#if currentUser.isCompany}}
        <a href="/publishCourse"><button class="btn btn-warning mt-4">Publish a new course</button></a>
    {{else}}
        <a href="/upgradeAccount"><button class="btn btn-warning mt-4">Upgrade to company account</button></a>
        <p class="mt-1"><em>Company accounts can create and publish their courses, but cant subscribe to any courses <span id="warning">(Warning: Once upgraded you will not be able to restore to a student account!!)</span></em></p>
    {{/if}}
    
    {{#unless currentUser.googleID}}
        <a href="/updatePassword"><button class="btn btn-danger mt-4">Update your password</button></a>
    {{/unless}}
    
{{else}}
    <h1>Please log in to see your profile</h1>
    <a href="/auth/loginUser">Login</a>
{{/if}}

<script src="/js/myProfile.js"></script>